<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Scrapping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <style>
        #main {
            text-align : center;
            padding-top: 50px;
        }
        #hotel {
            text-align : center;
            padding-top: 50px;
        }
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>
</head>
<body>
<div id="main" class="">
    <h1>Get hostel Data</h1>
    <form method="GET">
        <div class="container ">
            <div class="input-group input-group-lg form-floating mb-3">
                <input type="text" name="url" id="url" class="form-control" placeholder="" aria-label="Insert the hostel booking url" aria-describedby="button-addon1">
                <label for="url">Insert the hostel booking url</label>
            </div>
                <button class="btn btn-primary btn-lg" type="submit" id="submit">Submit</button>
        </div>
    </form>
    {% if hotel %}
    <div id="hotel" class="col d-flex justify-content-center">
        <div class="alert alert-success" role="alert" style="width: 30%;">
          Hotel found!
        </div>
        <div class="card" style="width: 60%;">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{hotel.pictures.0}}" class="d-block w-100" alt="...">
                </div>
                  {% for image in hotel.pictures %}
                    <div class="carousel-item">
                      <img src="{{image}}" class="d-block w-100" alt="...">
                    </div>
                  {% endfor %}

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <p class="card-text">{{ hotel.address }}</p>
            <span class="badge bg-success">{{ hotel.score }}</span>
          </div>
              <ul class="list-group list-group-flush">
                {% for room in hotel.rooms %}
                  <div class="card" style="width: 18rem;">
                  <div class="row">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                              <div id="carouselRooms" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{hotel.pictures.0}}" class="d-block w-100" alt="...">
                        </div>
                          {% for image in room.pictures %}
                            <div class="carousel-item">
                              <img src="{{image}}" class="d-block w-100" alt="...">
                            </div>
                          {% endfor %}

                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                            <h5 class="card-title">{{ room.name}}</h5>
                            <p class="card-text">{{ room.size}}</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>

                {% endfor %}
              </ul>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>